*{
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

section {
  padding: 20px;
  background-color: white;
}

/* Hero Section */
.hero {
  margin: 0;
  padding: 0;
  height: 800px;
  width: 100vw;
  background-image: url(/images/community-bg.jpg);
  background-size: 100vw 100%;
  color: white;
  text-align: center;
}

.blur{ 
  height: 100%;
  padding-top: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.hero h1 {
  margin-top: 250px;
  font-size: 4rem;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.hero p{
  font-size: 22px;
  text-align: center;
  max-width: 700px; 
  margin: 0 auto;
}

.hero a {
  padding: 10px 20px;
  background-color: #2980b9;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.hero a:hover {
  background-color: #1f608a;
}

/* About Section */
.about {
  width: 1500px;
  margin: 10px auto;
  height: 500px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between ;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title{
  font-size: 3rem;
  text-align: center;
  color: #2980b9;
}

.aboutImg{
  height: 100%;
  width: 70%;
  background-image: url(/images/community-3.jpg);
  background-size: cover;
  margin-right: 100px;
}

.about-content{
  width: 1000px;
  margin-right: 20px;
}

.about-content p{
  font-size: 20px;
}

.about-content p:nth-child(1){
  padding-top: 50px;
}

/* Benefits Section */
.benefits {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.benefit {
  text-align: center;
  font-size: 18px;
  height: 300px;
  flex: 1;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.benefit:nth-child(2){
  background-color: #2980b9;
  color: white;
}

/* Email Alerts Section */
.email-alerts {
  height: 350px;
  background-color: #333;
  color: #ffffff;
  text-align: center;
}

.email-alerts a {
  background-color: #2980b9;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.email-alerts input{
  height: 50px;
  width: 500px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.email-alerts button{
  margin-top: 20px;
  height: 50px;
  width: 300px;
  background-color: #2980b9;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 18px;
}